<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block pagetitle %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

</head>
<body>

{% include "structure/header.twig" %}

<div class="container-fluid">{% block maincontent %}{% endblock %}</div>

{% include 'structure/footer.twig' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>