{% extends 'structure/html.twig' %}


{% block pagetitle %}
    <title>blog</title>
{% endblock %}

{% block maincontent %}
    <h1>Blog</h1>
    <div class="important">
        {% for blog in blogposts %}
            <h2>{{ blog.blogTitle }}</h2> <h4>by {{ blog.blogAuthor }}</h4>
            <p>{{ blog.blogBody }}</p>
    {% endfor %}
    </div>

    {#{{ dump(blogposts) }}#}
{% endblock %}