{% extends 'html.twig' %}


{% block pagetitle %}
    <title>Contatti</title>
{% endblock %}

{% block maincontent %}
    <h1>Contatti</h1>
    <p class="lead"> Hi {{fullName}} here are your contacts:</p>

    <p>{{contactName}}</p>

{% endblock %}