{% extends 'html.twig' %}


{% block pagetitle %}
    <title>Home</title>
{% endblock %}

{% block maincontent %}
    <h1>Home</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}